@import './assets/stylesheet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Formula1 Display', sans-serif;
}

.session-info-container {
  font-family: 'Formula1 Display', sans-serif;
}